body{
    margin: 0;
}
body h1, h2, h3{
font-family: 'Jost', sans-serif;
font-family: 'Lexend', sans-serif;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Unbounded', cursive;
margin: 0%;
}
body p{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.first-section{
    background-image: url(/img-icon/web-banner9.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    margin: 0;
}
.title-text{
    color: white;
    padding: 90px;
    font-size: 2em;
}
.title-text p{
    font-size: medium;
}
#button{
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: black;
}
#button:hover{
    font-weight: bold;
    border: 2px solid white;
}


/* This is 2nd Section */


.secend-section{
    background-color: rgba(211, 211, 211, 0.397);
    text-align: center;
    padding: 10% 25%;
}
.heading-weight{
    padding-bottom: 30px;
    font-size: 2em;
} 

.form-sec{
    background-color: white;
    padding: 40px 80px;
    border-radius: 10px;
}
.search-box{
    border: none;
    padding: 10px 20px;
    border-top-right-radius: 5px; border-bottom-right-radius: 5px;
}
.search-box:hover{
    background-color: lightgrey;
}
.small-text{
    font-size: 20px;
}



/* This is 3rd Section */


.therd-section{
    padding-top: 10%;

}
.heading3-weight{
    font-size: 2em;
    text-align: center;
}
#para-weight{
    text-align: center;
    padding-bottom: 2%;
}
.article-flex{
    display: flex;
    padding: 0 5%;
}
.content{
    margin: 20px;
    padding: 2%;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}


/* This is 4th Section */


#section-4{
    background-color: rgba(211, 211, 211, 0.397);
    padding: 10%;
}

.div-flex{ 
    display: flex;
}
.amount-div{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
#button2{
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: lightgrey;
}
#button2:hover{
    font-weight: bold;
    background-color: blue;
    color: white;
}



/* This is 5th Section */

#section5{
    padding: 10%;
}
.div5-flex{
    display: flex;
}
#image-1{
    padding: 0 5%;
}
#content-1{

}

.articel1{
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    margin: 0 0 10% 0;
    padding: 5%;
    padding-left: 5%;
}
.bac-icon{
    display: flex;
}
.articel-icon{
    padding-top: 8%;
    padding-right: 5%;
}


/* This is 6th Section */

#section6{
    padding-bottom: 10%;
}
#main-div{
    padding: 0 5%;
}
#image-flex{
    display: flex;
}
#text-flex{
    display: flex;
}
.padding-child{
    margin: 0 auto;
}
#text-position{
    background-color: white;
    position: relative;
    bottom: 40px;
    z-index: 1;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 0 15%;
    padding: 5%;
    text-align: center;
}


/* This is 7th Section */

footer{
    background-color: darkblue;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
}
.footer-padd{
    margin: 3% 5%;
}

span{
    font-size: 20px;
}
a{
    font-size: 15px;
    text-decoration: none;
    color: lightgrey;
    padding-top: 10px;
}
a:hover{
    color: red;
}







